// Переменные
$logoTextColor: #fff;
$transition: all .3s;
$bgc--gradient: linear-gradient(90deg, rgb(52, 73, 94) 25%, rgb(243, 66, 53) 100%);





// Миксины
$small: 480px;
$large: 1025px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $small) { @content; }
  }
  @else if $media == iPad {
    @media only screen and (min-width: $small + 1) and (max-width: $large - 1) { @content; }
  }
  @else if $media == PC {
    @media only screen and (min-width: $large) { @content; }
  }
}
	//   @include respond-to(mobile) { font-size: 41px; color: red;}
  //   @include respond-to(iPad) { font-size: 41px; color: green; }
  //   @include respond-to(PC) { font-size: 11px; color: brown; }
// ======***Media Mixin with example***========





// Шрифты
$font--laSpacino: LaSpacinoLite-Regular;
$font--standart:  Arial;


@font-face {
  font-family: LaSpacinoLite-Regular;
  src: url(../fonts/LaSpacinoLite-Regular.otf) format("opentype");
}
 







// Верстка
* {
	margin: 0;
	padding: 0;
}


body {
	height: 100%
}


.logo {
  color: $logoTextColor;
  height: 85vh;
  text-align: center;
  background-image: $bgc--gradient;
  @include respond-to(mobile) { height: 50vh;}
  @include respond-to(iPad) { height: 70vh;}
	&__h1 {
		top: 120px;
		margin: 0;
		font-size: 200px;
		position: relative;
		font-family: $font--standart;
		@include respond-to(mobile) { font-size: 70px; top: 120px;}
    @include respond-to(iPad) { font-size: 100px; top: 120px; }
	}
	&__description{
		@extend .logo__h1;
		font-size: 21px;
		@include respond-to(mobile) { font-size: 12px;}
		@include respond-to(iPad) { font-size: 18px;}
		letter-spacing: 2px;
		font-weight: 100;
	}
}


.tabMenu {
	height: 16vh;
	background-color: #fff;
	position: relative;
	box-shadow: 0px 9px 6px -9px rgba(82, 82, 82, 0.3);
  // box-shadow: 0px 50px 35px -35px rgb(136, 42, 35);
	p {
		@extend .logo__h1;
		top: 35%;
		color: rgb(243, 66, 53);
		text-align: center;
		font-size: 21px;
	}
}

.contclipCard{
	background-color: #E8F1F5;
	padding: 100px 50px;
	@include respond-to(iPad) { padding: 50px 25px; }
	@include respond-to(mobile) { padding: 50px 25px; }
}


.clipCard{
	min-height: 450px;
	background-color: #fff;
	margin: 20px 0 20px;
	border-radius: 8px;
	box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.1);
	margin-bottom: 25px;
	padding: 10px;
	border: 1px solid #cddbee;
	@include respond-to(iPad) { min-height: 450px; }
	&__h2 {
		font-weight: 400;
		color: #FF7777;
		@include respond-to(mobile) { font-size: 18px; }
    @include respond-to(iPad) { font-size: 14px;  margin-bottom: 40px;}
    @include respond-to(PC) { font-size: 18px; }
    margin-bottom: 20px;
	}
	iframe {
		width: 100%;
		height: 300px;
		margin-bottom: 15px
	}
}	


.videoUI{
	background-color: #fff;
	width: 100%;
	
	&__like{
		position: relative;
		border-radius: 8px;
		display: inline-block;
		border:1px solid #cddbee;
		padding: 5px 5px 5px 25px;
		color: #799999;
		box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.1);
		cursor: pointer;
		margin-right: 12px;
		transition: $transition;
		@include respond-to(iPad) {     padding: 3px 5px 3px 25px;    margin-right: 6px;    font-size: 12px;}
		@include respond-to(mobile) { margin-right: 9px;}	
		&:hover{
			box-shadow: none;
			background-color: #E8F1F5;
			color: rgb(52, 73, 94);
			&::before{
				color: rgb(52, 73, 94);
				transition: $transition;
			}
		}

		&::before{
			color: #799999;
			font-size: 16px;
			font-family: FontAwesome;
   		content: "\f004";
			// content: '';
			position: absolute;
			left: 3px;
    	top: 3px;
    	@include respond-to(iPad) { left: 9px; font-size: 12px;}

		}
	}

	&__comment{
		@extend .videoUI__like;
		border: none;
		cursor: default;
		box-shadow: none;
		&:hover{
			background-color: transparent;
			color: rgb(52, 73, 94);
		}
		&::before{
			content: "\f27a";
		}
	}

	&__saw{
		@extend .videoUI__comment;
		&::before{
			content: "\f06e ";
		}
	}

	&__share{
		@extend .videoUI__like;
		// text-transform: uppercase;
		// min-width:50px;
		// background-image: $bgc--gradient;
		// padding: 5px 10px;
		&::before{
			content: "\f1e0";
		}
	}

}


.col-md-4{
	@include respond-to(iPad) { padding-left: 5px; padding-right: 5px; }
}
.chimichanga{
	display: flex;
	border-radius:4px;
}